.pdf-layout {
  padding: 50px 6%;
  background: #f6f7f9;
}
.pdf-back {
  background: none;
  border: none;
  color: #15803d;
  font-weight: 600;
  font-size: 1rem;
  cursor: pointer;
  margin-bottom: 15px;
  display: inline-block;
  transition: opacity 0.3s ease;
}

.pdf-back:hover {
  opacity: 0.6;
}

/* BLACK HEADER BAR */
.pdf-header {
  background: #111;
  color: white;
  padding: 14px 25px;
  font-weight: 700;
  font-size: 1.3rem;
}

/* GREEN TITLE */
.pdf-title {
  border: 2px solid #15803d;
  display: inline-block;
  padding: 8px 20px;
  margin: 25px 0;
  font-weight: 700;
  color: #15803d;
  font-size: 1.4rem;
}

/* BODY */
.pdf-body {
  display: grid;
  grid-template-columns: 70% 30%;
  gap: 35px;
}

/* LEFT */
.pdf-left {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.pdf-block h3 {
  background: #15803d;
  color: white;
  padding: 8px 12px;
  font-size: 0.95rem;
}

.pdf-block table {
  width: 100%;
  border-collapse: collapse;
  background: white;
}

.pdf-block td {
  border-bottom: 1px solid #e5e5e5;
  padding: 8px 10px;
  font-size: 0.9rem;
}

.pdf-block td:last-child {
  text-align: right;
  font-weight: 600;
}

/* TWO COLUMN INSIDE */
.small-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 25px;
}

/* COMPRESSION */
.compression-box {
  background: white;
  padding: 25px;
  font-size: 1.8rem;
  font-weight: 800;
  text-align: center;
  border: 2px solid #15803d;
}

/* RIGHT SIDE */
.pdf-right {
  height: fit-content;
  background: white;
  padding: 25px;
  text-align: center;
  border: 1px solid #ddd;
}

.pdf-right img {
  width: 100%;
  max-width: 220px;
  margin-bottom: 15px;
}

.pdf-right h4 {
  color: #15803d;
  font-weight: 700;
  margin-bottom: 10px;
}

.pdf-right p {
  font-size: 0.9rem;
  color: #444;
}

/* MOBILE */
@media (max-width: 900px) {
  .pdf-body {
    grid-template-columns: 1fr;
  }

  .small-grid {
    grid-template-columns: 1fr;
  }
}
