/* SIDEBAR PANEL */
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 280px;
  background: linear-gradient(180deg, #0b1a33, #060f22);
  display: flex;
  flex-direction: column;
  transform: translateX(-100%);
  transition: transform 0.3s ease;
  z-index: 1001;
  box-shadow: 15px 0 40px rgba(0, 0, 0, 0.6);
}

.sidebar.open {
  transform: translateX(0);
}

/* HEADER */
.sidebar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 22px;
  color: #38bdf8;
  font-size: 20px;
  border-bottom: 1px solid rgba(56, 189, 248, 0.15);
}

.sidebar-header button {
  background: none;
  border: none;
  color: #38bdf8;
  font-size: 22px;
  cursor: pointer;
}

/* LINKS */
.sidebar-links {
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 16px;
}

.sidebar-links a {
  color: #e6f1ff;
  text-decoration: none;
  font-size: 16px;
  transition: 0.2s ease;
}

.sidebar-links a:hover {
  color: #38bdf8;
  transform: translateX(6px);
}

/* OVERLAY */
.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.55);
  opacity: 0;
  pointer-events: none;
  transition: 0.3s;
  z-index: 1000;
}

.overlay.show {
  opacity: 1;
  pointer-events: all;
}

/* DROPDOWN */
.dropdown {
  display: flex;
  flex-direction: column;
}

.dropdown-btn {
  background: none;
  border: none;
  color: #e6f1ff;
  font-size: 16px;
  text-align: left;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  padding: 0;
}

.dropdown-btn:hover {
  color: #38bdf8;
}

/* FIRST LEVEL */
.dropdown-menu {
  max-height: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-left: 14px;
  transition: max-height 0.3s ease;
}

.dropdown-menu.open {
  max-height: 500px;
}

/* ALL PRODUCTS */
.all-link {
  font-weight: 600;
  color: #38bdf8 !important;
}

/* CATEGORY */
.sub-dropdown {
  display: flex;
  flex-direction: column;
}

.sub-dropdown-btn {
  background: none;
  border: none;
  color: #cbd5e1;
  font-size: 15px;
  text-align: left;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  margin-left: 10px;
}

.sub-dropdown-btn:hover {
  color: #38bdf8;
}

/* SECOND LEVEL */
.sub-dropdown-menu {
  max-height: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-left: 22px;
  transition: max-height 0.3s ease;
}

.sub-dropdown-menu.open {
  max-height: 400px;
}

.sub-dropdown-menu a {
  color: #cbd5e1;
  font-size: 14px;
  text-decoration: none;
  transition: 0.2s ease;
}

.sub-dropdown-menu a:hover {
  color: #38bdf8;
  transform: translateX(6px);
}

/* ALL CATEGORY */
.all-category {
  font-weight: 600;
  color: #38bdf8 !important;
}
